.job-detail {
   margin-bottom: 5rem;
   width: 100%;
   max-width: 500px;
   .detail {
      & > * {
         margin: 2rem;
      }
      .btn-container {
         display: flex;
         justify-content: flex-end;
      }
   }
}
