.job-board-list {
   color: #333;
   .search-banner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      .search {
         max-width: 300px;
      }
   }
   .table {
      padding: 5px;
      width: 100%;
      overflow-x: auto;

      table {
         border-collapse: collapse;
         width: 100%;
         font-size: 1.4rem;

         thead {
            border-top: 2px solid var(--light-blue);
            border-bottom: 2px solid var(--light-blue);
         }

         th {
            border: 1px solid #eee;
         }

         td,
         th {
            vertical-align: top;
            text-align: left;
            padding: 8px;
            div,
            form {
               padding: 5px;
               label {
                  font-size: 1.4rem;
                  font-weight: 500;
                  color: var(--color-dark);
               }
               input[type='text'],
               input[type='url'],
               textArea {
                  display: block;
                  font-size: 1.6rem;
                  font-weight: 300;
                  padding: 1rem;
                  margin: 1rem auto;
                  width: 100%;
                  border: 1px solid #777;
                  border-radius: 3px;
                  outline: none;
               }
               input[type='date'] {
                  width: auto;
                  margin: 1rem 0;
               }
               input[type='checkbox'] {
                  display: inline;
                  margin-left: 1rem;
               }
               .btn-container {
                  display: flex;
                  justify-content: flex-end;
                  margin-top: 2rem;
               }
            }

            &.icons {
               display: flex;
               justify-content: center;
               align-items: center;
               & > * {
                  margin: 0 5px;
                  cursor: pointer;
                  vertical-align: middle;
                  align-self: center;
               }
            }
         }

         tr {
            border-bottom: 1px solid #ccc;
            width: 100%;
         }

         tr:nth-child(even) {
            background-color: #fff;
         }
         tbody {
            tr:hover {
               cursor: pointer;
               background-color: rgba(31, 147, 255, 0.3);
            }
         }
      }
   }
}
