.add-job {
   margin-top: 2rem;
   margin-bottom: 1rem;
   .card {
      width: 100%;
      max-width: 500px;
      padding: 1rem;
      .title {
         text-align: center;
      }
   }
   form {
      .form-field {
         padding: 5px;
         label {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--color-dark);
         }
         input[type='text'],
         input[type='url'],
         input[type='number'],
         input[type='date'],
         select,
         textArea {
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #777;
            border-radius: 3px;
            outline: none;
         }
         input[type='date'] {
            width: auto;
            margin: 1rem 0;
         }
         input[type='checkbox'] {
            display: inline;
            margin-left: 1rem;
         }
      }
      .btn-container {
         margin-top: 2rem;
         display: flex;
         justify-content: flex-end;
      }
   }
}
