.couch-list {
   color: #333;

   // Removes lastpass from putting it's clickable icon inside the name field.
   [data-lastpass-icon-root] {
      display: none !important;
   }

   p,
   h1 {
      margin: 2rem 0;
   }

   .table {
      padding: 5px;
      width: 40%;
      overflow-x: auto;

      table {
         border-collapse: collapse;
         width: 100%;
         font-size: 1.4rem;

         thead {
            border-top: 2px solid var(--light-blue);
            border-bottom: 2px solid var(--light-blue);
         }

         th {
            border: 1px solid #eee;
         }

         th,
         td {
            vertical-align: top;
            text-align: center;
            padding: 8px;

            &.icons {
               display: flex;
               justify-content: center;
               align-items: center;
               > * {
                  margin-right: 7px;
                  cursor: pointer;
                  vertical-align: middle;
                  align-self: center;
               }
            }
         }

         tr {
            border-bottom: 1px solid #ccc;
         }

         tr:nth-child(even) {
            background-color: #fff;
         }
         tbody {
            tr:hover {
               cursor: pointer;
               background-color: rgba(31, 147, 255, 0.3);
            }
         }
      }
   }

   .addCouchForm {
      width: 40%;
      form {
         padding: 1rem;
         input {
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem 0;
            width: 100%;
            border: 1px solid #ccc;
            border-bottom: 3px solid #ccc;
            border-radius: 3px;
            outline: none;

            &:focus {
               outline: none;
               box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
               border-bottom: 3px solid #55c57a;
            }

            &:focus:invalid {
               border-bottom: 3px solid #ff7730;
            }
         }
         button[type='submit'] {
            margin: 0;
         }
      }
   }
}
